body {
	color:#0d35c7;
	font-family: Times, serif;
}

h1, h2, h3, h4 {
	color:#0d35c7;
	font-family: Arial, sans-serif;
}

h1 {
	font-weight:bold;
}

h2 {
	font-size:160%;
}

a,
a:hover {
	color:#0d35c7;
	text-decoration:underline;
}

header.main {
	margin-bottom: 40px;
}

footer.main {
	margin-top: 40px;
}