body {
	color:#0d35c7;
	font-family: Times, serif;
}

h1, h2, h3, h4 {
	color:#0d35c7;
	font-family: Arial, sans-serif;
}

h1 {
	font-weight:bold;
}

h2 {
	font-size:160%;
}

a,
a:hover {
	color:#0d35c7;
	text-decoration:underline;
}

header.main {
	margin-bottom: 40px;
	background:rgba(200, 255, 255, 0.8);
}

nav.main {
	background:rgba(200, 255, 255, 0.8);
}

nav.main ul {
	list-style: none;
	padding:5px;
	margin:0 15px;
}

nav.main li {
	float:left;
	padding:0;
	margin-right:10px;
}

.content {
	background:rgba(200, 255, 255, 0.8);
}

footer.main {
	margin-top: 40px;
	background:rgba(200, 255, 255, 0.8);
}



#background {
	position:fixed;
	top:0;
	left:0;
	z-index:-1;
}